* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.messages-container {
  padding: 1rem;
}

.myMessages,
.othersMessages {
  padding: 0.5rem;
  border-radius: 8px;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}
.myMessages {
  justify-content: flex-end;
}

.myMessages div,
.othersMessages div {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.myMessages div p {
  background-color: #0084ff;
  color: white;
  padding: 0.6rem 0.75rem;
  border-radius: 25px;
}

.othersMessages div p {
  background-color: #e4e6ea;
  padding: 0.6rem 0.75rem;
  border-radius: 25px;
}

.myMessages-initials,
.othersMessages-initials {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 9999px;
  border: 1px solid black;
}

.myMessages-initials {
  margin-left: 0.75rem;
}
.othersMessages-initials {
  margin-right: 0.75rem;
}
